
header {
 max-height: 10vh;
 height: 10vh;
}
header div{
    float: left;
    max-height: 100%;
    display: block;
    height: 100%;
}
header #logoApp{
    width: 10%;
}
header #banner{
    width: 80%;
    text-align: center;
    background-color:rgb(150,201,249);
}
header #userRef{
    width: 10%;
    text-align: center;
}
header img{
    height: 70%;
}
header h4{
    height: 20%;
    margin-top: 0%;
    width: 100%;
}
nav {
    height: 8vh;
    background-color:rgb(0,201,249);
    
}
nav img{
     max-height:  100%;
}
nav div{
    float: left;
}
nav #menuDespegableBtn {
    width: 10%;
    height: 100%;
    background-color: rgb(0,165,213);
}
nav #Menu {
    width: 60%;
    height: 100%;
    position: relative;
}
nav #Menu ul{
    list-style: none;
    margin: 0%;
    height: 100%;
    padding: 0% 0%;
    text-align: center
}
nav #Menu ul li{
    float: left;
    width: 20%;
    margin-left: 5%;
    padding-top: 4%;
    display: block;
   
}
nav #busqueda{
    padding-top: 2.5%;
    height: 97.5%;
    width: 30%;
}
nav #busqueda input[type=text]{
    width: 70%;
    float: left;
}

nav #busqueda input[type=submit]{
    width: 20%;
    margin-left: 2%;
    float: left;
}
header img {
max-height: 100%;
}
#info{
    position: relative;
    height: 70vh;
    background-color:rgb(0, 249, 207);
}
#info #titleSection{
    text-align: center;
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
    height: 10%;
    display: block;
    border-bottom: 0.2vh black solid;
    
}
#info div{
    width: 47%;
    padding-top: 1%;
    padding-left: 2%;
    margin-top: 2%;
    float: left;
    height: 80%;
    background-color:rgb(94, 255, 0);
    margin-left: 0.6%;
}
#info #estadisticas{
    border-right:  solid black 2px;
    background-color:rgb(255, 238, 0);
}
footer{
    padding-top: 5vh;
    background-color:rgb(255, 110, 110);
    text-align: center;
}
